
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LET A GO</h2>
@using (Html.BeginForm("SetUpStartingPoint", "Map", FormMethod.Post, new { @class = "ui large form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Give us your starting address</h4>
        <h4>In format: City Street House Number</h4>
        <div class="form-group">
        <input type="text" name="address" class="btn btn-default" style="width:400px"/>
        </div>

        <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

